@{
    //define variables 
    var name = "Radia Akther Lima";
    var studentNumber = "101516705";
    var courseCode = "COMP_2139";
}

<div>
    <h1>Welcome to this Page</h1>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
</div>